---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>

      <div class="row center">
        <a href="https://github.com/silenceonthewire" id="download-button" class="btn-large waves-effect waves-light orange">Nasze repozytoria</a>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Tak szybko jak to tylko możliwe</h5>

            <p class="light">Jako proces główny wybraliśmy Extreme Programming. Bazuje ona na komunikacji, prostocie, informacji zwrotnej (od klienta) i wzajemnym wsparciu zespołu. Zespołem są tu zarówno programiści jak i przyszły użytkownik (jednak nie sponsor). Proces ten nastawiony jest na szybkie dostarczenie produktu możliwie najprostsza metodą. Bazuje na pełnej integracji zespołu,  komunikacji, interaktywnym procesie analizy i projektowania. Nasze prototypy skupiają się na konstrukcji i projekcie systemu, na wykorzystaniu technologii, nie zaś na jego wyglądzie. Dzięki temu jesteśmy w stanie błyskawicznie dostarczać rozwiązania, do których wygląd sami dobierzecie.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Rozbijamy na mniejsze - czyli mikrousługi</h5>

            <p class="light">Architektura mikroserwisowa, stosowana jest najczęściej w przypadku dużych, rozbudowanych i skomplikowanych systemów informatycznych, wymagających wielokierunkowych prac rozwojowych. W ramach jednego, zintegrowanego systemu działają niezależne aplikacje obsługujące konkretne działy, funkcje lub procesy biznesowe. Mikroserwisy są od siebie niezależne biznesowo i technologicznie, dzięki czemu mogą być rozwijane równolegle, przez różne zespoły projektowe. W celu wprowadzenia nowej funkcji w jednym obszarze, nie ma potrzeby zmian w innych obszarach, a ewentualne problemy, wynikające z rozwoju poszczególnych modułów, nie powodują więc zakłóceń w działaniu całego systemu.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Big musi być Fast - Fast Data w akcji</h5>

            <p class="light">Wszystie nasze projekty zawierają coś, co nazywa się 5V, czyli volume, velocity, variety, veracity i value. Wielkie zbiory danych przynoszą duże korzyści zwłaszcza w przypadku szybko zmieniających się procesów biznesowych. Jednak większość informacji traci swoją wartość operacyjną w krótkim czasie. Aby wyciągnąć maksimum wiedzy z bardzo dynamicznie zmieniających się danych trzeba analizować je niezwykle szybko i stosować narzędzia informatyczne, które to umożliwiają. Można powiedzieć, że właściwe dane we właściwym czasie to Big Data w czasie rzeczywistym, czyli Fast Data. Fast data nie jest monolityczną technologią czy konkretnym rozwiązaniem. Składa się z całego spektrum różnych technologii.</p>
          </div>
        </div>
      </div>

    </div>

    </div>
    <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Ostatnio dodane</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>
    </section>
    </div>
</div>

  </div>
